<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>HOLA HTML</title>
<link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
    crossorigin="anonymous">
<style>
    .card {
        margin-bottom: 20px;
    }
    .btn-primary {
        background-color: #ff6600;
        border-color: #ff6600;
    }
    .btn-secondary {
        background-color: #cccccc;
        border-color: #cccccc;
    }
</style>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Tienda iES6</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <div th:replace="~{layout/header :: header}"></div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-5">
        <h1 class="text-center mb-4">Carga de productos</h1>
        <P class="text-center">Esto es la prueba de un párrafo</P>
        <form data-th-object="${producto}" data-th-action="@{/guardarProducto}" method="post" enctype="multipart/form-data">
            <input type="hidden" data-th-if="${band}" data-th-field="${producto.id}">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label id="id">Id</label>
                            <input type="text" class="form-control" data-th-field="${producto.id}" data-th-readonly=${band} />
                        </div>
                        <div class="col-md-6">
                            <label>Nombre</label>
                            <input type="text" class="form-control" data-th-field="${producto.nombre}" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label>Descripcion</label>
                            <input type="text" class="form-control" data-th-field="${producto.descripcion}" />
                        </div>
                        <div class="col-md-6">
                            <label>Precio</label>
                            <input type="text" class="form-control" data-th-field="${producto.precio}" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label>Stock</label>
                            <input type="text" class="form-control" data-th-field="${producto.stock}" />
                        </div>
                        <div class="col-md-6">
                            <label>Marca</label>
                            <input type="text" class="form-control" data-th-field="${producto.marca}" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <label for="file">Fotografía</label>
                            <input class="form-control" type="file" name="file" accept="image/png, image/jpeg" onchange="loadFile(event)">
                            <img id="output" style="width: 250px; padding: 3px; margin-top: 10px;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary btn-lg">Guardar Producto</button>
                <a href="/listadoProductos" class="btn btn-secondary btn-lg">Cancelar</a>
            </div>
        </form>
    </div>
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

</body>
</html>
